$font-main: 'Exo2', 'Arial', sans-serif;
$font-second: 'Trebuchet MS', sans-serif;

$width-min: 320px;
$width-mid: 768px;
$width-max: 1170px;

$color-product-default: #1698d9;
$color-product-default-hover: #2ea8e5;
$color-product-selected: #d91667;
$color-product-selected-hover: #e62e7a;
$color-product-disabled: #b3b3b3;
$width_product: 320px;
