//TODO: разобраться, почему в chrome devtools неправильно отображается ширина блоков

// $separator_min: calc((100vw - 320px) / 4);
$separator_mid: calc(((100vw - 2 * 320px) / 3) / 2);
$separator_max: calc(((100vw - 3 * 320px) / 4) / 2);

.product {
  position: relative;
  display: block;
  width: $width_product;
  height: 480px;
  background-image: url('../../../img/bg_cat.png'),
    linear-gradient(135deg, transparent 45px, #f2f2f2 0);
  background-repeat: no-repeat;
  background-position: left bottom;
  border-radius: 12px;
  text-align: left;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

  &__border {
    position: absolute;
    top: 0;
    left: 0;
    fill: transparent;
    stroke-width: 5;
    // Чтобы обводка была поверх затемнения блока в состоянии disabled
    z-index: 10;

    &-default {
      stroke: $color-product-default;
    }

    &-hover {
      stroke: $color-product-default-hover;
    }

    &-checked {
      stroke: $color-product-selected;
    }

    &-checked-hover {
      stroke: $color-product-selected-hover;
    }

    &-disabled {
      stroke: $color-product-disabled;
    }
  }

  &__text {
    padding-top: 10px;
    padding-left: 55px;

    &-top {
      font-size: 16px;
      color: #666666;
    }

    &-bottom {
      font-size: 14px;
      line-height: 14px;
      color: #666666;
    }
  }

  &__header {
    margin: 0;
    font-size: 48px;
    font-weight: bold;

    &-after {
      margin: 0;
      font-size: 24px;
      font-weight: bold;
    }
  }

  &__weight {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    border-radius: 50%;

    &-num {
      font-size: 42px;
    }

    &-unit {
      font-size: 21px;
    }

    &-default {
      background-color: $color-product-default;
    }

    &-hover {
      background-color: $color-product-default-hover;
    }

    &-checked {
      background-color: $color-product-selected;
    }

    &-checked-hover {
      background-color: $color-product-selected-hover;
    }

    &-disabled {
      background-color: $color-product-disabled;
    }
  }

  &__text-after {
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    text-align: center;
    font-size: 13px;
    line-height: 16px;

    &-link {
      font-weight: bold;
      color: $color-product-default;
      border-bottom: 1px dashed $color-product-default;

      &:hover {
        cursor: pointer;
      }

      &-hover {
        color: $color-product-default-hover;
        border-bottom: 1px dashed $color-product-default-hover;
      }
    }

    &-point {
      font-weight: bold;
      color: $color-product-default;

      &-hover {
        color: $color-product-default-hover;
      }
    }
  }

  &__text-after-disabled {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffff66;
    text-align: center;
    font-size: 13px;
    line-height: 16px;
  }

  &__disabled {
    cursor: not-allowed;

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      display: block;
      width: 320px;
      height: 480px;
      background-image: linear-gradient(135deg, transparent 45px, #f2f2f2 0),
        url('../../../img/bg_cat.png');
      background-repeat: no-repeat;
      background-position: left bottom;
      border-radius: 12px;
      opacity: 0.5;
    }
  }

  @media only screen and (min-width: $width-min + 160px) {
    & {
      margin-left: 80px;
      margin-right: 80px;
    }
  }

  @media only screen and (min-width: $width-mid) {
    & {
      margin-left: $separator_mid;
      margin-right: $separator_mid;
    }
  }

  @media only screen and (min-width: $width-max) {
    & {
      margin-left: $separator_max;
      margin-right: $separator_max;
    }
  }
}
